# Build and Bins
.gradle/
gradle/
build/
bin/
out/
run/*

# IDEs
.classpath
.project
.settings/
eclipse/
run/*
!run/ModularWarfare/
.idea/
*.iml
*.ipr
*.iws

# System
Thumbs.db
.DS_Store

# Flan's Mod
gradlew
gradlew.bat
ModularWarfare_Client.launch
ModularWarfare_Server.launch
run/ModularWarfare/dev_pack/assets/modularwarfare/sounds.json
run/ModularWarfare/dev_pack/assets/modularwarfare/sounds.json
run/ModularWarfare/dev_pack/assets/modularwarfare/sounds.json
run/ModularWarfare/dev_pack/assets/modularwarfare/sounds.json
ModularWarfare_Client.launch
ModularWarfare_Server.launch
run/ModularWarfare/minegrounds
src/main/java/com/modularwarfare/client/model/minegrounds
src/main/resources/assets/minecraft/textures/akm/gray.png
src/main/resources/assets/minecraft/textures/akm/lightgray.png
src/main/resources/assets/minecraft/textures/akm/wood.png
src/main/resources/assets/minecraft/textures/fnx45/black.png
src/main/resources/assets/minecraft/textures/fnx45/gray.png
src/main/resources/assets/minecraft/textures/fnx45/tan.png
src/main/resources/assets/minecraft/textures/hamr/ammo.jpg
src/main/resources/assets/minecraft/textures/hamr/camo.jpg
src/main/resources/assets/minecraft/textures/mp28/mp28mag.png
