# Build and Bins
.gradle/
gradle/
build/
bin/
out/
run/*

# IDEs
.classpath
.project
.settings/
eclipse/
run/*
!run/ModularWarfare/
.idea/
*.iml
*.ipr
*.iws

# System
Thumbs.db
.DS_Store

# Flan's Mod
gradlew
gradlew.bat